.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
    background-color: #454372;
}

.cards-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}